# System files
*.sw?
.DS_Store
Thumbs.db
desktop.ini

# IDE and editor files
.idea/
.vscode/
*.suo
*.sln
*.ntvs*
*.njsproj

# Dependencies
node_modules/

# Typescript
next-env.d.ts

# Next.js
.next/

# Testing (not ready) and coverage
specs/
coverage/

# Environment files
.env
.env.*

# Temporary files
.tmp/
.temp/

# Design project
.design/