# Temporary files
.tmp/
.temp/

# Design project
.design/

# Git & GitHub
.git/
.github/
.gitattributes
.gitignore
.gitmodules

# System files
*.sw?
.DS_Store
Thumbs.db
desktop.ini

# IDE and editor files
.idea/
.vscode/
*.suo
*.sln
*.ntvs*
*.njsproj

# Dependencies
node_modules/

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# Testing (not ready) and coverage
specs/
coverage/

# Next.js
.next/

# Vercel
.vercel/